<%- include('partials/header') -%>


<div class="container-fluid">

    <main class="form-signin">
        

        <div class="row">
            <div class="col">
                <svg width="193" height="133" viewBox="0 0 193 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.72966" y="1.72966" width="189.541" height="129.541" rx="2.27034" fill="white" stroke="#F3F3F3" stroke-width="3.45932"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M92.8977 80.1931V65.1936V65.1907H101.018C104.366 65.1926 107.18 64.1414 109.459 62.0371C111.763 60.0399 113.051 57.1684 112.985 54.1753C113.031 51.1988 111.745 48.3486 109.459 46.3579C107.2 44.242 104.161 43.0875 101.018 43.1511H87.9827V80.1931H92.8977ZM92.8978 60.642V47.7114V47.7085H101.14C102.978 47.6585 104.748 48.3742 106.004 49.6739C107.266 50.8625 107.979 52.4952 107.979 54.2003C107.979 55.9055 107.266 57.5381 106.004 58.7268C104.733 59.9991 102.968 60.6944 101.14 60.642H92.8978Z" fill="#5F6368"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M132.914 56.8412C130.812 54.9615 127.944 54.0216 124.311 54.0216C119.645 54.0216 116.121 55.6767 113.739 58.987L118.068 61.6263C119.668 59.384 121.841 58.2629 124.586 58.2629C126.337 58.243 128.03 58.8625 129.33 59.9978C130.626 61.0351 131.372 62.5816 131.36 64.2094V65.2971C129.472 64.2626 127.068 63.7454 124.15 63.7454C120.73 63.7494 117.997 64.5257 115.95 66.0744C113.902 67.6231 112.879 69.7087 112.879 72.3313C112.834 74.7193 113.904 76.9995 115.791 78.538C117.733 80.1931 120.145 81.0206 123.029 81.0206C126.408 81.0206 129.115 79.5724 131.15 76.676H131.363V80.1931H136.065V64.573C136.067 61.2982 135.017 58.721 132.914 56.8412ZM119.582 75.5382C118.553 74.8197 117.946 73.6636 117.952 72.4348C117.952 71.0546 118.621 69.9049 119.967 68.9591C121.3 68.0271 122.965 67.5611 124.962 67.5611C127.703 67.5611 129.84 68.1522 131.372 69.3345C131.372 71.3324 130.558 73.0732 128.93 74.5569C127.464 75.9769 125.476 76.7761 123.402 76.7795C122.019 76.8046 120.669 76.366 119.582 75.5382Z" fill="#5F6368"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M163.052 54.8492L146.64 91.3651H141.566L147.656 78.5883L136.865 54.8492H142.207L150.007 73.0555H150.114L157.7 54.8492H163.052Z" fill="#5F6368"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M73.0359 61.9602C73.0378 60.5101 72.9111 59.0625 72.6574 57.6333H51.9286V65.8291H63.8011C63.3102 68.4741 61.7243 70.8102 59.4111 72.2958V77.6158H66.4968C70.6456 73.9125 73.0359 68.4358 73.0359 61.9602Z" fill="#4285F4"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M51.9285 82.7556C57.8602 82.7556 62.8546 80.8699 66.4966 77.6188L59.411 72.2988C57.4389 73.5934 54.8989 74.3322 51.9285 74.3322C46.1953 74.3322 41.3291 70.5905 39.589 65.5483H32.2897V71.0309C36.0207 78.2187 43.6194 82.7552 51.9285 82.7556Z" fill="#34A853"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M39.5892 65.5483C38.6692 62.9062 38.6692 60.045 39.5892 57.4028V51.9203H32.2899C29.1692 57.9322 29.1692 65.0189 32.2899 71.0309L39.5892 65.5483Z" fill="#FBBC04"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M51.9285 48.619C55.0631 48.5694 58.092 49.716 60.3605 51.811L66.634 45.7373C62.6559 42.12 57.3858 40.134 51.9285 40.1957C43.6194 40.196 36.0207 44.7326 32.2897 51.9204L39.589 57.4029C41.3291 52.3607 46.1953 48.619 51.9285 48.619Z" fill="#EA4335"/>
                </svg>
            </div>

            <div class="col">
                <svg width="193" height="133" viewBox="0 0 193 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.72966" y="1.72966" width="189.541" height="129.541" rx="2.27034" fill="white" stroke="#F3F3F3" stroke-width="3.45932"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M58.4892 49.6307C57.0854 51.309 54.8393 52.6327 52.5932 52.4436C52.3124 50.1744 53.4121 47.7634 54.6989 46.2742C56.1027 44.5487 58.5594 43.3195 60.5482 43.225C60.7821 45.5887 59.8697 47.9052 58.4892 49.6307ZM60.525 52.8926C58.5462 52.7776 56.7407 53.4939 55.2823 54.0724C54.3438 54.4447 53.549 54.76 52.9444 54.76C52.2658 54.76 51.4383 54.4279 50.5091 54.0549L50.5091 54.0549C49.2916 53.5663 47.8997 53.0077 46.44 53.0345C43.0942 53.0817 39.9824 54.9964 38.2744 58.0456C34.7648 64.1441 37.3619 73.1736 40.7545 78.1374C42.4157 80.5957 44.4044 83.2904 47.0249 83.1958C48.1778 83.1519 49.007 82.7964 49.8653 82.4285C50.8534 82.0049 51.8798 81.5648 53.4825 81.5648C55.0296 81.5648 56.0112 81.9934 56.9534 82.4048C57.8493 82.796 58.7097 83.1716 59.9869 83.1486C62.701 83.1013 64.4089 80.6903 66.0701 78.232C67.8628 75.5936 68.6506 73.0186 68.7702 72.6278L68.7781 72.602L68.7842 72.5826C68.7813 72.5797 68.7592 72.5695 68.7201 72.5514C68.1208 72.2743 63.5404 70.1558 63.4965 64.475C63.4524 59.7068 67.1296 57.2909 67.7084 56.9106C67.7436 56.8875 67.7674 56.8719 67.7781 56.8637C65.4384 53.3654 61.7885 52.9872 60.525 52.8926ZM79.3127 82.8885V46.0378H93C100.066 46.0378 105.003 50.9543 105.003 58.1401C105.003 65.3259 99.9723 70.2898 92.8128 70.2898H84.9748V82.8885H79.3127ZM84.9751 50.8598H91.5029C96.4162 50.8598 99.2239 53.5072 99.2239 58.1638C99.2239 62.8204 96.4162 65.4914 91.4795 65.4914H84.9751V50.8598ZM123.697 78.4685C122.2 81.3522 118.901 83.1723 115.344 83.1723C110.08 83.1723 106.407 80.0049 106.407 75.2301C106.407 70.5026 109.963 67.7843 116.538 67.3825L123.604 66.957V64.9242C123.604 61.9222 121.662 60.2913 118.199 60.2913C115.344 60.2913 113.262 61.7804 112.841 64.0496H107.74C107.904 59.2749 112.35 55.8001 118.363 55.8001C124.844 55.8001 129.055 59.2276 129.055 64.546V82.8887H123.814V78.4685H123.697ZM116.865 78.7994C113.847 78.7994 111.928 77.3339 111.928 75.0883C111.928 72.7718 113.777 71.4245 117.31 71.2118L123.604 70.8099V72.89C123.604 76.3411 120.702 78.7994 116.865 78.7994ZM146.439 84.3306C144.17 90.7836 141.573 92.911 136.051 92.911C135.63 92.911 134.226 92.8637 133.898 92.7691V88.3489C134.249 88.3962 135.115 88.4435 135.559 88.4435C138.063 88.4435 139.467 87.3798 140.332 84.6142L140.847 82.9832L131.254 56.1548H137.174L143.842 77.9248H143.959L150.627 56.1548H156.383L146.439 84.3306Z" fill="black"/>
                    </svg>
                    
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <svg width="193" height="133" viewBox="0 0 193 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.72966" y="1.72966" width="189.541" height="129.541" rx="2.27034" fill="white" stroke="#F3F3F3" stroke-width="3.45932"/>
                    <path d="M85.6911 91.2156H72.8417L80.8786 44.6632H93.7274L85.6911 91.2156Z" fill="#15195A"/>
                    <path d="M132.271 45.8013C129.737 44.8594 125.717 43.8194 120.746 43.8194C108.057 43.8194 99.1213 50.1581 99.0665 59.2206C98.9611 65.9068 105.464 69.6205 110.328 71.8499C115.299 74.128 116.989 75.615 116.989 77.6456C116.938 80.7643 112.972 82.2018 109.273 82.2018C104.142 82.2018 101.394 81.4607 97.2164 79.7256L95.5244 78.9818L93.7263 89.4318C96.74 90.718 102.292 91.8593 108.057 91.9094C121.539 91.9094 130.317 85.6687 130.421 76.0112C130.472 70.7119 127.038 66.6513 119.635 63.3332C115.141 61.2031 112.389 59.7669 112.389 57.5875C112.441 55.6062 114.717 53.5769 119.79 53.5769C123.967 53.4775 127.036 54.4181 129.361 55.3594L130.524 55.8537L132.271 45.8013Z" fill="#15195A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M155.271 44.6632H165.21L175.577 91.2149H163.679C163.679 91.2149 162.515 85.8662 162.146 84.2318H145.648C145.171 85.4693 142.952 91.2149 142.952 91.2149H129.469L148.555 48.5257C149.878 45.5045 152.206 44.6632 155.271 44.6632ZM154.479 61.6989C154.479 61.6989 150.407 72.0495 149.349 74.7238H160.03C159.501 72.3963 157.068 61.2532 157.068 61.2532L156.17 57.242C155.792 58.2749 155.245 59.695 154.876 60.6528C154.626 61.3021 154.458 61.739 154.479 61.6989Z" fill="#15195A"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5254 76.4075L62.1092 44.6632H75.6964L55.4993 91.1662H41.9114L30.4587 50.7163C26.5072 48.5522 21.9975 46.8117 16.9553 45.6039L17.1668 44.6633H37.8403C40.6425 44.7613 42.9163 45.6032 43.6562 48.5764L48.1492 69.966C48.1495 69.9671 48.1499 69.9682 48.1503 69.9694L49.5254 76.4075Z" fill="#15195A"/>
                </svg>
                    
            </div>

        

        
            <div class="col"> 
                <svg width="193" height="133" viewBox="0 0 193 133" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.72966" y="1.72966" width="189.541" height="129.541" rx="2.27034" fill="white" stroke="#F3F3F3" stroke-width="3.45932"/>
                    <path d="M114.17 96.347H79.726V34.9532H114.17V96.347Z" fill="#FF5F00"/>
                    <path d="M81.9326 65.645C81.9326 53.191 87.812 42.0974 96.9676 34.9482C90.2723 29.7203 81.8225 26.6 72.6392 26.6C50.8988 26.6 33.2758 44.0808 33.2758 65.645C33.2758 87.2093 50.8988 104.69 72.6392 104.69C81.8225 104.69 90.2723 101.57 96.9676 96.3419C87.812 89.1927 81.9326 78.099 81.9326 65.645Z" fill="#EB001B"/>
                    <path d="M160.625 65.645C160.625 87.2093 143.002 104.69 121.261 104.69C112.078 104.69 103.628 101.57 96.9304 96.3419C106.089 89.1927 111.968 78.099 111.968 65.645C111.968 53.191 106.089 42.0974 96.9304 34.9482C103.628 29.7203 112.078 26.6 121.261 26.6C143.002 26.6 160.625 44.0808 160.625 65.645Z" fill="#F79E1B"/>
                    </svg>
                    
            </div>


        </div>


        
        <br>            

        <% if(Room_ID != -1) { %>
            <form class="" action="/afterPaymentRoom/<%= Room_ID %>" method="post">
            
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Payable Amount: </label>
                  <input type="text" class="form-control" required>
                  <div class="form-text">Pay <b> ₹ <%= amount %>.00 </b> only for your Room.</div>
                </div>
            
                
                <button type="submit" class="btn btn-primary rounded-button" name="Register">Pay</button>
            </form>
        <% }else { %>

            <form class="" action="/afterPaymentItem/<%= Item_ID %>" method="post">
            
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Payable Amount: </label>
                  <input type="text" class="form-control"  required>
                  <input class="visually-hidden" type="text" name="customerId" value="<%= C_ID %>">
                  <div class="form-text">Pay <b> ₹ <%= amount %>.00 </b> only for your Item.</div>
                </div>
            
                
                <button type="submit" class="btn btn-primary rounded-button" name="Register">Pay</button>
            </form>
        <% } %>
        
    
    </main>
    
    </div>




<%- include('partials/footer') -%>